* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

/* Gerais */
a {
    text-decoration: none;
    color: inherit; 
}

.btn {
    background-color: #f25849;
    color: azure;
}
.btn:hover {
    background-color: rgb(253, 208, 6);
    border: 1px solid azure;
}

li {
    border: none;
    color: white;
}
li:hover{
    color: white;
}

h2 {
    font-size: 20px;
}

#logo {
    width: 100px;
}

body {
    line-height: 1;
    background: url("img/background.png") no-repeat;
    background-size: cover;
}
.body-index{
    background: #ffff no-repeat;
}

/*Index*/
.h1-index{
    color: white;
}
.h3-index{
    margin-top: -17px;
    color:  rgb(253, 208, 6);
}
.p-index{
    padding-top: 9px;
    color: white;
}

.container-index {
    width: 95%;
    height: 200px;
    margin: 10% 5% 0 5%;
    align-items: center;
}

.box1-index {
    width: 30%;
    margin-top: 10%;
    margin-right: 5%;
   background-color: #f25849;
    border-radius: 8%;
     box-shadow: 2px 2px 2px rgb(122, 121, 121);
     padding: 2%;
    }

.box2-index {
    width: 50%;
    margin-top: 15%;
}

.img401 {
    width: 80%;
}

.card-erro-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 9%;
    width: 280px;
    background-color: #ffff;
    border-radius: 8%;
    box-shadow: 2px 2px 2px rgb(122, 121, 121);
}
.btn-index {
    background-color: rgb(253, 208, 6);
    border: 1px solid rgb(248, 247, 247);
    color: white;
}
.btn-index:hover {
    background-color: rgb(250, 249, 248);
    border: 1px solid black;
    color: black;
}
/*Menu */
.nav {
    align-items: center;
}

#menu {
    background-color: #f25849;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.opcao-menu {
    color: azure;
}

.opcao-menu:hover {
    border-radius: 8%;
    color: azure;
    background-color: rgb(253, 208, 6);
}

.nav-link::after {
    color: azure;
}

.dropdown-item:hover {
    background-color: #f25849;
    color: azure;
}

.opcaoCadastrarAgora {
    text-decoration: none;
    color: rgb(253, 208, 6);
    font-size: large;
}

.opcaoCadastrarAgora:hover {
    color: #f25849;
}

/*container login e cadastro */
.box {
    flex-direction: column;
    width: 30%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

/* painel adm*/
.opcao-ativo {

    font-size: large;
    font-weight: bold;
}

.opcao-inativo {
    font-size: large;
    font-weight: bold;
}

.div-titulo {
    background-color: white;
    height: 75px;
}

#tituloAgenda {
    color: black;
    margin-top: 10px;
}

label {
    font-size: large;
}

.form-edicao {
    width: 100%;
    margin-right: 5%;
}

.table-striped {
    background-color: white;
}

.tr-tabela {
    background-color: #f25849;
}

.box-tabela {
    width: 100%;
    padding: 0;
}

tr:hover {
    background-color: #d3d2cb;
}

th {
    font-weight: 600;
}

.container-imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.icons {
    width: 18px;
}

/*card imagens */
.box-imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 280px;
    background-color: #f25849;
    border-radius: 8%;
    box-shadow: 2px 2px 2px rgb(122, 121, 121);
}

.img-card {
    border-radius: 8%;
    width: 100%;
    height: 150px;
}