
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}

#logo{
width: 100px;
}

body {
    line-height: 1;
    background: url("img/background.png") no-repeat ;
    background-size: cover;
    
}

.opcaoCadastrarAgora {
    text-decoration: none;
    color: rgb(253, 208, 6);
    font-size: large;
}
.opcaoCadastrarAgora:hover{
    color: #f25849;
}

.nav{
    align-items: center;
}

#menu{
background-color: #f25849;
box-shadow: 0px 4px 4px rgba(0,0,0, 0.25);
}
li{
    border: none;
}
.nav-link{
    color: azure;
}

.nav-link:hover {
    border-radius: 8%;
    background-color: rgb(253, 208, 6);
    color: azure;
}

.nav-link::after {
    color: azure;
}

.dropdown-item:hover {
    background-color: #f25849;
    color: azure;
}

.box {
    flex-direction: column;
    width: 30%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.input-adm{
    margin: 5px;
}

.opcao-ativo{
    margin-right: 15%;
    font-size: large;
    font-weight: bold;
}
.opcao-inativo{
    font-size: large;
    font-weight: bold;
}


.btn {
    background-color: #f25849;
    color: azure;
}

.btn:hover {
    background-color: rgb(253, 208, 6);
    border: 1px solid azure;
}

/* painel adm*/
.div-titulo{
    background-color: white;
    height: 75px;
}
#tituloAgenda{
  color: black; 
  margin-top: 10px;

}
label{
    font-size: large;
}

#div-botoes-editar{
    margin-left: -5%;
}

.form-edicao{
    width: 100vh;
}

.table-striped{
    background-color: white;
}
.tr-tabela{
    background-color: #f25849;
}
.box-tabela{
    width: 100%;
   padding: 0;
}
tr:hover{
    background-color: #d3d2cb;
}
th{
    font-weight: 600;
}

.container-imagens{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
    
}
/*card imagens */
.box-imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 280px;
    background-color: #f25849;
    border-radius: 8%;
    box-shadow: 2px 2px 2px rgb(122, 121, 121);
}
.img-card{
    border-radius: 8%;
    width: 100%;
    height: 150px;
    
}
h2{
    font-size: 20px;
}

.icons{
    width: 18px;
}
.radio{
    margin-right: 10%;
    display: flex;
}
#div-botoes-editar{
    padding-right: 12%;
}